body {
  display: flex; /*페이지를 flexbox로 설정*/
  flex-direction: column; /*세로로 나열*/
  align-items: center; /*수평 중앙 정렬*/
  min-height: 100vh; /*화면 높이*/
  margin: 0;
  background-color: rgb(240, 248, 245);
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: flex;
  align-items: center; /*제목 가운데로*/
  font-size: 40px;
  font-weight: bold; /*폰트 굵게*/
  color: rgb(0, 77, 38);
  margin-bottom: 20px;
  justify-content: center; /*텍스트 수평으로*/
}

h1::before {
  content: "";
  display: inline-block; /*로고 인라인 블록으로 표시*/
  background-image: url("/logo.png");
  background-size: contain; /*이미지 크기 유지하면서 컨테이너에 맞게 조정*/
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 8px; /* 모서리 깎기 */
  border: 1px solid RGB(162, 217, 177);
  background-color: RGB(233, 245, 236);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*그림자 효과*/
  width: 300px;
  margin-top: 50px;
}

label {
  font-size: 16px;
  color: RGB(51, 51, 51);
}

select,
input[type="text"]{
  width: 100%;
  padding : 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid RGB(162,217,177);
  box-sizing: border-box;
}

button[type="submit"]{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color:RGB(76, 175, 80);
  border:none;
  border-radius: 4px;
  cursor: pointer; /*마우스 버튼 위로 올리면 커서를 포인터로 변경*/
}

button[type="submit"]:hover{
  background-color: RGB(69, 160, 73);
}

button[type="change"]{
  width: 350px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: RGB(76,176,80);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

/*버튼 눌렸을 때 색 더 진한 녹색이 되도록*/
button[type="change"]:hover{
  background-color: RGB(69,160,730);
}