body{
    display: flex; /*페이지를 flexbox로 설정*/
    flex-direction: coulnm; /*세로로 나열*/
    align-items: center; /*수평 중앙 정렬*/
    min-height: 100vh; /*화면 높이*/
    margin:0;
    background-color: rgb(240, 248, 245);
    padding-top : 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display:flex;
    align-items: center; /*제목 가운데로*/
    font-size: 20px;
    color: rgb(0,0,0);
    margin-bottom: 20px;
    justify-content: center; /*텍스트 수평으로*/
}