<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="container">
      <h1>병원 Database Edit</h1>

       <label for="hospital-id">병원 ID 입력</label>
       <input type="number" id="hospital-id" name="hospital-id" placeholder="병원 ID를 입력하세요" required>

       <label for="attribute">수정할 항목 선택</label>
       <select id="attribute" name="attribute" required>
           <option value="">-- 선택하세요 --</option>
           <option value="region-code">군구코드</option>
           <option value="hospital-name">의료기관명</option>
           <option value="hospital-type">병원종별</option>
           <option value="medical-code">진료코드</option>
       </select>

       <label for="new-value">새로운 값 입력</label>
       <input type="text" id="new-value" name="new-value" placeholder="새로운 값을 입력하세요" required>

       <div class="btn-container">
        <button type="button" onclick="submitForm()">수정</button>
        <button type="button" onclick="goBack()">전 페이지로</button>
      </div>
    </div>
  </body>
</html>
